<section id="header" class="appear">
  <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(5, 42, 62, 1);">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars color-white"></span>
        </button>
        <div class="navbar-logo">
          <!--<img data-0="width:155px;" data-300=" width:120px;" src="assets/images/logo.png" alt="">-->
          <a href="javascript:void(0);">KARAN</a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li *ngFor="let item of items" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a href="{{item.path}}" (click)="activatedLink(item.name)" title="{{item.name}}">{{item.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- <li title="{{item.name}}" *ngFor="let item of items">
    <a routerLink="{{item.path}}" class="{{item.name}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{item.name}}</a>
  </li> -->