<section class="sidebar-container" id="about">
	<div class="panel-heading">
		<h3 class="panel-title">About me</h3>
	</div>
	<div class="panel-body">
		<form>
			<fieldset>
				<label>Main Heading</label>
				<input type="text" value="" placeholder="I'm KARAN">
			</fieldset>
			<fieldset>
				<label>Sub Heading</label>
				<input type="text" value="" placeholder="UI Designer and Front End Developer">
			</fieldset>
			<button type="submit">About Me</button>
		</form>
	</div>
</section>
<section class="sidebar-container" id="skill">
	<div class="panel-heading">
		<h3 class="panel-title">Skills</h3>
	</div>
	<div class="panel-body">
		<form>
			<fieldset>
				<label>Main Heading</label>
				<input type="text" value="" placeholder="Skills">
			</fieldset>
			<fieldset>
				<label>Sub Heading</label>
				<input type="text" value="" placeholder="Sub Heading">
			</fieldset>
			<fieldset>
				<label>Skill Heading</label>
				<input type="text" value="" placeholder="HTML5">
			</fieldset>
			<fieldset>
				<label>Skill Description</label>
				<textarea type="text" value="" placeholder="Lorem ipsum dolor sit amet, elit persecuti efficiendi sit ad."></textarea>
			</fieldset>
			<button type="submit">Skill</button>
		</form>
	</div>
</section>
<section class="sidebar-container" id="portfolio">
	<div class="panel-heading">
		<h3 class="panel-title">Portfolio</h3>
	</div>
	<div class="panel-body">
		<form>
			<fieldset>
				<label>Main Heading</label>
				<input type="text" value="" placeholder="Skills">
			</fieldset>
			<fieldset>
				<label>Sub Heading</label>
				<input type="text" value="" placeholder="Sub Heading">
			</fieldset>
			<fieldset>
				<label>Web Design</label>
			  <label>Photography</label>
			  <label>Print</label>
			</fieldset>
			
			<button type="submit">Portfolio</button>
		</form>
	</div>
</section>

<section class="sidebar-container" id="contact">
	<div class="panel-heading">
		<h3 class="panel-title">Contact Detail</h3>
	</div>
	<div class="panel-body">
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>john@example.com</td>
        <td>Doe</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>john@example.com</td>
        <td>Hi</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>July</td>
        <td>john@example.com</td>
        <td>Hee</td>
        <td>Doe</td>
      </tr>
    </tbody>
  </table>

	</div>
</section>