<!-- services -->
<section id="skill" class="section pad-bot30 bg-white">
  <div class="container">
    
    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Skills</h2>
          <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4" *ngFor="let skill of skills">
        <div class="columnMargin">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon {{skill.name}}">screen</a>
            </div>
          </div>
          <h3 class="text-bold">{{skill.heading}}</h3>
          <p>{{skill.para}}</p>
          <div class="clear"></div>
        </div>
      </div>
   </div>   

  </div>
</section>