<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
        <li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>About me</span></a></li>
        <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Skills</span></a></li>
        <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Portfolio</span></a></li>
      </ul>
    </nav>
  </div>
</div>